/* --------------------- Root / Light Mode --------------------- */
:root {
    /* Home hero */
    /*--vp-home-hero-name-color: #111111;*/
    --vp-home-hero-name-background: transparent;
    --vp-home-hero-description-color: #333;

    /* Links */
    --vp-link-color: #8c6a0b;
    --vp-link-hover-color: #f4bd17;

    /* Sidebar links */
    --vp-sidebar-link-color: #8c6a0b;
    --vp-sidebar-link-hover-color: #f4bd17;

    /* Navbar links */
    --vp-navbar-link-color: #8c6a0b;
    --vp-navbar-link-hover-color: #f4bd17;

    /* Footer links */
    --vp-footer-link-color: #8c6a0b;
    --vp-footer-link-hover-color: #f4bd17;

    /* Theme brand for active sidebar items */
    --vp-c-brand-1: #8c6a0b;
    --vp-c-brand-2: #f4bd17;

    /* Border color */
    /*--vp-c-border: #8c6a0b;*/
    /*--vp-border: #8c6a0b;*/
    --vp-nav-logo-height: 70%;
}

/*@media (min-width: 120px) {*/
/*    .VPImage {*/
/*        max-width: 75% !important;*/
/*        max-height: 75% !important;*/
/*    }*/

/*}*/

/*@media (min-width: 420px) {*/
/*    .VPImage {*/
/*        max-width: 90% !important;*/
/*        max-height: 90% !important;*/
/*    }*/

/*}*/

/*@media (min-width: 640px) {*/
/*    .VPImage {*/
/*        max-width: 420px !important;*/
/*        max-height: 420px !important;*/
/*    }*/

/*}*/

/*@media (min-width: 960px) {*/
/*    .VPImage {*/
/*        max-width: 420px !important;*/
/*        max-height: 420px !important;*/
/*    }*/

/*}*/

/* --------------------- Dark Mode Overrides --------------------- */
.dark {
    --vp-home-hero-name-color: #ffffff;
    /*--vp-home-hero-description-color: #ccc;*/

    /* Links */
    --vp-link-color: #f4bd17;
    --vp-link-hover-color: #f4bd17;

     /*Sidebar links*/
    --vp-sidebar-link-color: #f4bd17;
    --vp-sidebar-link-hover-color: #f4bd17;

     /*Navbar links*/
    --vp-navbar-link-color: #f4bd17;
    --vp-navbar-link-hover-color: #f4bd17;

     /*Footer links*/
    --vp-footer-link-color: #f4bd17;
    --vp-footer-link-hover-color: #f4bd17;

     /*Theme brand for active sidebar items*/
    --vp-c-brand-1: #f4bd17;
    --vp-c-brand-2: #f4bd17;

     /*Border color */
    --vp-c-border: #b3861e;

}

.VPFeature {
    border-color: #888 !important;
    .icon {
        border-style: solid;
        border-color: #888 !important;
        border-width: 1px !important;
        background-color: #fff !important;
    }
}

html.dark {
    .VPFeature {
        border-color: #888 !important;
        .icon {
            border-style: solid;
            border-color: #888 !important;
            border-width: 1px !important;
            background-color: #000 !important;
        }
    }
}


/* --------------------- Buttons --------------------- */
.VPButton.brand {
    background-color: #f4bd17 !important;
    border-color: #111111 !important;
    color: #111111 !important;
    font-weight: 700;
}

.VPButton.alt {
    border-color: #111111 !important;
/*    color: #111111 !important;*/
}

/* --------------------- Code colors --------------------- */

/* Light mode */
:root {
    --vp-code-color: #333;
}

/* Dark mode */
html.dark {
    --vp-code-color: #ddd;
}

/*!* Ensure inline code picks this up *!*/
/*.vp-doc :not(pre) > code {*/
/*    color: var(--vp-code-color);*/
/*}*/

/*!* Optional: preformatted code blocks *!*/
/*pre, code {*/
/*    color: var(--vp-code-color);*/
/*}*/
